.navbar{
    display: flex;
    align-items: center;
}

.Option{
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    color: #a986bb;
    margin: 7px;
    border: 1px solid #f0d2ff;
    background: #fdfaff;
    padding: 9px;
    border-radius: 5px;
    font-size: 15px;
    text-decoration: none;
}

.ActiveOption{
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    color: #a986bb;
    margin: 7px;
    border: 1px solid #f0d2ff;
    background: #f5e5ff;
    padding: 9px;
    border-radius: 5px;
    font-size: 15px;
    text-decoration: none;
}