#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.bag_shop{
  width: 3%;
}
.saludoTitle{
  font-family: 'Lora', serif;
  color: #817FE9;
  font-size: 42px;
}
.logo_brand{
  width: 30%;
}

.navbar_botones{
  font-family: "Lexend", sans-serif;
  font-weight: 600;
  color: #a986bb;
  margin: 7px;
  border: 1px solid #f0d2ff;
  background: #fdfaff;
  padding: 9px;
    border-radius: 5px;
    font-size: 15px;
}

.navbar_botones:hover{
  border-color: #f0d2ff;
    background-color: #ffffff;
    color: #f0d2ff;
}